.full_grid {
    height: 100vh;
    max-height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: auto 300px;
    place-items: center;

    position: relative;
}


.gameplay_cont {
    width: 100%;
    height: 100%;

    background-color: var(--bg-color);
}


.players_cont {
    width: 100%;
    height: 100%;
    max-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.top_info_txt {
    color: var(--secluded-color);
    font-size: 1.2rem;
}

.become_player {
    font-size: 1.5rem;
    background-color: var(--primary-color);
    /* box-shadow: 0px 0px 15px 0px white; */
}

.add_bot {
    width: 100%;
    
    button {
        float: right;
        margin-right: 30px;
        padding: 0px;
        background-color: #0000;
    }
}

.playerbox_cont {
    width: calc(100% - 10px*2);
    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-y: scroll;

    .playerbox {
        background-color: var(--element-color);
        width: 100%;
        height: 100px;
        margin-bottom: 10px;

        display: grid;
        grid-template-columns: 50px auto 75px;

        position: relative;

        button {
            background-color: #0000;
            color: var(--secluded-color);
            padding: 0px;
            font-size: 1.5rem;
            transform: scale(1, -1);

            position: absolute;
            top: 0px;
            right: 10px;
        }

        .shown_cards {
            position: relative;
        }

        .name_and_amount {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h5 {
                margin-top: 10px;
                font-size: 1.2rem;
            }

            div {
                height: 50px;
                display: flex;
                align-items: center;
                font-size: 1.4rem;
            }
        }

        .last_played {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .is_me {
        box-shadow:inset 0px 0px 0px 5px var(--primary-color);

        button {
            display: none;
        }
    }
}

