.full_grid {
    height: 100vh;
    max-height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: auto 250px;
    place-items: center;

    position: relative;
}


/** SPILL KOLONNE (venstre/midt) */

.gameplay_cont {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: 100px auto fit-content(50vh);

    background-color: var(--bg-color);
}

.header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;

    * {
        color: var(--secluded-color);
        display: flex;
        align-items: center;

        img {
            height: 40px;
            transform: scaleX(-1);
        }
    }

    .left_header>* {
        margin-left: 30px;
    }

    .right_header>* {
        margin-right: 30px;
    }

    .import_export_cont {
        background-color: #187B90;
        
        * {
            color: white;
            font-size: 1.2rem;
        }

        .import {
            padding-right: 10px;
            border-right: 4px solid var(--secluded-color);
        }
        .export {
            padding-left: 10px;
        }
    }
}

.personal_cont {
    height: 75px;
    width: 100%;
    background-color: var(--element-color);
    position: relative;

    .start_game {
        position: absolute;
        top: 0px;
        transform:translateY(-50%);

        width: 100%;
        display: flex;
        justify-content: center;

        button {
            background-color: var(--primary-color);
            font-size: 2rem;
        }
    }
}






/** SPILLER KOLONNE (høyre) */

.players_cont {
    width: 100%;
    height: 100%;
    max-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.top_info_txt {
    color: var(--secluded-color);
    font-size: 1.2rem;
}

.become_player {
    font-size: 1.5rem;
    background-color: var(--primary-color);
    /* box-shadow: 0px 0px 15px 0px white; */
}

.add_bot {
    width: 100%;
    
    button {
        float: right;
        margin-right: 30px;
    }
}

.playerbox_cont {
    width: calc(100% - 10px*2);
    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-y: scroll;

    .playerbox {
        background-color: var(--element-color);
        width: 100%;
        height: 100px;
        margin-bottom: 10px;

        display: grid;
        grid-template-columns: 50px auto 75px;

        position: relative;

        button {
            color: var(--secluded-color);
            font-size: 1.5rem;
            transform: scale(1, -1);

            position: absolute;
            top: 0px;
            right: 10px;
        }

        .shown_cards {
            /* til eventuelle kort som skal vises for spillere + pil som peker på spilleren som skal spille (hvem sin tur det er) */
            position: relative;
        }

        .name_and_amount {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h5 {
                margin-top: 10px;
                font-size: 1.2rem;
            }

            div {
                height: 50px;
                display: flex;
                align-items: center;
                font-size: 1.4rem;
            }
        }

        .last_played {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .is_me {
        box-shadow:inset 0px 0px 0px 5px var(--primary-color);

        button {
            display: none;
        }
    }
}

